
# Plots
*.eps

# R files
*.Rhistory

# Stata files
*.log

# Data directory - generally want to ignore big and created files
/data/*

!/data/caschool.dta
!/data/census.dta
!/data/income.csv
!/data/loondata.dta
!/data/school_data.csv

# Assignment answers
/assignments/answers

# Student files
/student