
# Plots
*.eps

# R files
*.Rhistory

# Stata files
*.log

# Data directory - generally want to ignore big and created files
/data/*

!/data/caschool.dta
!/data/caschool_problem.dta
!/data/census.dta
!/data/fakehs.csv
!/data/fakesat.dta
!/data/fakesat_freq.dta
!/data/income.csv
!/data/loondata.dta
!/data/school_data.csv
!/data/singleclasstest.dta

# Assignment answers
/assignments/answers

# Student files
/student