
# Plots
*.eps

# R files
*.Rhistory

# Stata files
*.log

# Data directory - generally want to ignore big and created files
/data/*

!/data/school_data.csv
!/data/census.dta
!/data/nces_datasets_ecls.dct